<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
             <extension
                point="org.franca.core.dsl.francaValidator">
                <validator
                      class="org.genivi.commonapi.core.validator.ValidatorCoreUi"
                      mode="FAST"
                      name="Franca Core Validator">
                </validator>
               </extension>
             <extension
                   point="org.eclipse.ui.preferencePages">
                <page
                      class="org.genivi.commonapi.core.validator.preferencepage.ValidatorCorePreferencesPage"
                      id="org.genivi.commonapi.core.validator.preferencepage.ValidatorCorePreferencesPage"
                      name="CommonAPI Core Validator">
                </page>
             </extension>
             <!-->
              <extension
                point="org.franca.deploymodel.dsl.deploymentValidator">
                <validator
                      class="org.genivi.commonapi.core.validator.DeploymentValidatorCore"
                      mode="FAST"
                      name="Franca Core Deployment Validator">
                </validator>
               </extension>
             </!-->
</plugin>

