<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
             <extension
                point="org.franca.core.dsl.francaValidator">
                  <validator
                        class="org.genivi.commonapi.core.validator.ResourceValidator"
                        mode="FAST">
                  </validator>
               </extension>
</plugin>
