<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="CommonAPI - Eclipse 4.9" sequenceNumber="58">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.9.0.I20180906-0745"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.15.0.v20180904-1442"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.9/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="9.5.3.201809121146"/>
<repository location="http://download.eclipse.org/releases/2018-09"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.25.0.v20210301-1429"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170919201930/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.franca.core.sdk.feature.group" version="0.13.1.201807231814"/>
<unit id="org.franca.providers.sdk.feature.group" version="0.13.1.201807231814"/>
<unit id="org.franca.ui.sdk.feature.group" version="0.13.1.201807231814"/>
<repository location="http://franca.github.io/franca/update_site/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="30.1.0.v20210127-2300"/>
<unit id="org.apache.commons.cli" version="1.4.0.v20200417-1444"/>
<unit id="org.eclipse.emf.mwe.core" version="1.7.0.v20220519-1115"/>
<unit id="org.eclipse.emf.mwe.utils" version="1.7.0.v20220519-1115"/>
<unit id="org.eclipse.emf.mwe2.runtime" version="2.13.0.v20220519-1115"/>	
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.13.0/"/>
</location>
<!-- <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit"> 
<unit id="com.google.inject" version="3.0.0.v201605172100"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/2022-03"/>
</location> -->
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
